-- CreateEnum
CREATE TYPE "BuyCurrency" AS ENUM ('USD', 'EUR', 'GBP');

-- CreateEnum
CREATE TYPE "BuyOrderStatus" AS ENUM ('PENDING', 'PROCESSING', 'COMPLETED', 'REJECTED', 'FAILED');

-- CreateTable
CREATE TABLE "BuyOrder" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "orderId" TEXT NOT NULL,
    "coin" "Coin" NOT NULL,
    "currency" "BuyCurrency" NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "status" "BuyOrderStatus" NOT NULL DEFAULT 'PENDING',
    "provider" TEXT,
    "providerOrderId" TEXT,
    "creditedAmount" DOUBLE PRECISION,
    "txHash" TEXT,
    "rejectionReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BuyOrder_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "BuyOrder_orderId_key" ON "BuyOrder"("orderId");

-- CreateIndex
CREATE INDEX "BuyOrder_userId_idx" ON "BuyOrder"("userId");

-- CreateIndex
CREATE INDEX "BuyOrder_status_idx" ON "BuyOrder"("status");

-- CreateIndex
CREATE INDEX "BuyOrder_createdAt_idx" ON "BuyOrder"("createdAt");

-- AddForeignKey
ALTER TABLE "BuyOrder" ADD CONSTRAINT "BuyOrder_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

